/* Variables */
:root {
    --main-blue: #073673;
    --main-purple: #5148ff;
    --secunday-purple: #8882fd;
    --main-bg-color: #f8f9fa;
}
  
/* Modificaciones generales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos */
body {
    background-color: var(--main-bg-color);
    color: var(--main-blue);
    transition: 0.6s ease;
}

/* Main */
.img_usu {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 150px;
    opacity: 1;
    transition: 0.6s;
}
.img_usu:hover {
    opacity: 0.6;
}

.img_imagen {
    width: 90px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
}

.separador {
    border-bottom: 1px solid var(--main-purple);
}

/* Modal */
.modal-body {
    padding: 0px !important;
}

.imagen_modal {
    width: 100%;
    display: flex;
    justify-content: center;
}
.imagen_modal img {
    width: 100%;
}
.imagen_modal img:hover {
    opacity: 1;
    cursor: auto;
}

.imagen_modal_usu {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 150px;
    opacity: 1;
    transition: 0.6s;
}
.imagen_modal_usu:hover{
    opacity: 0.6;
    cursor: pointer;
}