/* Variables */
:root {
    --main-blue: #073673;
    --main-purple: #5148ff;
    --secunday-purple: #8882fd;
    --main-bg-color: #f8f9fa;
}
  
/* Modificaciones generales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos */
body {
    background-color: var(--main-bg-color);
    color: var(--main-blue);
    transition: 0.6s ease;
}

/* Main */
main {
    color: black;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 300px;
    gap: 15px;
}
main img {
    opacity: 1;
    transition: 0.5s;
    cursor: pointer;
}
main img:hover {
    opacity: 0.6;
}

.main-block {
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 300px;
    position: relative;
}

.imagen-titulo {
    height: 40px;
}

.imagen-pie {
    height: 40px;
}

.imagenes-div {
    height: 220px;
    position: relative;
}

.imagen_galeria {
    width: 100%;
    height: 100%;
    background-color: var(--main-purple);
    object-fit: cover;
}

.imagen_usu {
    width: 25px;
    height: 25px;
    border-radius: 150px;
}

.cerrado {
    background-color: var(--main-purple);
}
.cerrado span {
    color: white;
}

/* Modal */
.modal-body {
    padding: 0px !important;
}

.imagen_modal {
    width: 100%;
    display: flex;
    justify-content: center;
}
.imagen_modal img {
    width: 100%;
}
.imagen_modal img:hover {
    opacity: 1;
    cursor: auto;
}

.imagen_modal_usu {
    width: 40px;
    height: 40px;
    border-radius: 150px;
}
.imagen_modal_usu:hover{
    opacity: 1;
    cursor: auto;
}

.modal-title {
    color: black !important;
}

.dropdown-button span {
    color: var(--main-purple);
}

/* Media Queries */
@media all and (min-width: 464px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (min-width: 768px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
}