form {
    z-index: 5;
}

.imagenes_fondo {
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 15px;
    justify-content: space-between;
    z-index: -1;
}

@media all and (max-width: 576px) {
    .imagenes_fondo {
        opacity: 0;
    }
}