/* Variables */
:root {
    --main-blue: #073673;
    --main-purple: #5148ff;
    --secunday-purple: #8882fd;
    --main-bg-color: #f8f9fa;
}

/* Estilos generales */
.bg-main {
    background-color: var(--main-bg-color);
}
.bg-blue {
    background-color: var(--main-blue);
}
.bg-dark-purple {
    background-color: var(--main-purple);
}
.bg-purple {
    background-color: var(--secunday-purple);
}

.text-blue {
    color: var(--main-blue);
}

.text-dark-purple {
    color: var(--main-purple);
}
.text-purple {
    color: var(--secunday-purple);
}

/* */
.barra_busqueda-input input {
    margin: 0;
    border: 0px;
    padding-left: 10px;
    background-color: var(--main-purple);
}
.barra_busqueda-input input:focus {
    margin: 0;
    border: 0px !important;
    outline: none !important;
}

.dropdown-item:active {
    background-color: var(--main-purple) !important;
}

.form-control:focus {
    box-shadow: none;
}
  
.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
}