/* Variables */
:root {
    --main-blue: #073673;
    --main-purple: #5148ff;
    --secunday-purple: #8882fd;
    --main-bg-color: #f8f9fa;
}

/* Estilos generales */
.bg-main {
    background-color: var(--main-bg-color);
}
.bg-blue {
    background-color: var(--main-blue);
}
.bg-dark-purple {
    background-color: var(--main-purple);
}
.bg-purple {
    background-color: var(--secunday-purple);
}

.text-blue {
    color: var(--main-blue);
}

.text-dark-purple {
    color: var(--main-purple);
}
.text-purple {
    color: var(--secunday-purple);
}

/* Barra de búsqueda */
.barra_busqueda-input input {
    margin: 0;
    border: 0px;
    padding-left: 15px;
    background-color: transparent;
}
.barra_busqueda-input input:focus {
    margin: 0;
    border: 0px !important;
    outline: none !important;
}

.form-control:focus {
    box-shadow: none;
}
  
.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
}

/* Perfil */
.dropdown-item:focus {
    background-color: var(--main-purple);
}

.img-profile {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 150px;
}

/* Autocompletar */  
.autocomplete ul{
    border-radius: 5px;
    z-index: 5;
}
  
.autocomplete ul li a{
    background: white !important;
}
  
.autocomplete ul li a:hover, .autocomplete ul li.focus-list a{
    background: var(--main-purple) !important;
}

/* Dropzone */
.dz-preview {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.dz-image {
    min-width: 60px !important;
    min-height: 60px !important;
    object-fit: cover;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

/* Boton formulario */
.btn-form {
    background-color: var(--main-purple);
    color: white;
    border-radius: 25px;
}
.btn-form:hover {
    color: white;
    background-color: #3c35c2;
}

/* Barra de scroll */
body::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: white;
}

body::-webkit-scrollbar
{
	width: 10px;
}

body::-webkit-scrollbar-thumb
{
    padding: 5px;
	background-color: var(--main-purple);
    border-radius: 25px;
}