/* Variables */
:root {
    --main-blue: #073673;
    --main-purple: #5148ff;
    --secunday-purple: #8882fd;
    --main-bg-color: #f8f9fa;
}

/* Estilos generales */
.bg-main {
    background-color: var(--main-bg-color);
}
.bg-blue {
    background-color: var(--main-blue);
}
.bg-dark-purple {
    background-color: var(--main-purple);
}
.bg-purple {
    background-color: var(--secunday-purple);
}

.text-blue {
    color: var(--main-blue);
}

.text-dark-purple {
    color: var(--main-purple);
}
.text-purple {
    color: var(--secunday-purple);
}

/* */
.barra_busqueda-input input {
    margin: 0;
    border: 0px;
    padding-left: 15px;
    background-color: transparent;
}
.barra_busqueda-input input:focus {
    margin: 0;
    border: 0px !important;
    outline: none !important;
}



.form-control:focus {
    box-shadow: none;
}
  
.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
}

/* Autocompletar */  
.autocomplete ul{
    z-index: 5;
}
  
.autocomplete ul:before{
    content: "";
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    border: 10px solid transparent;
    border-bottom: 10px solid #f8f8f8;
    left: 46%;
    top: -20px;
    z-index: 5;
}
  
.autocomplete ul li a{
    text-decoration: none;
    display: block;
    background: #f8f8f8;
    color: #2b2b2b;
    padding: 5px;
    padding-left: 10px;
}
  
.autocomplete ul li a:hover, .autocomplete ul li.focus-list a{
    background: var(--main-purple) !important;
}
  
.autocomplete ul li a span, /*backwards compat*/
.autocomplete ul li a .autocomplete-anchor-label{
    display: block;
    margin-top: 3px;
    color: grey;
    font-size: 13px;
}
  
.autocomplete ul li a:hover .autocomplete-anchor-label, 
.autocomplete ul li.focus-list a span, /*backwards compat*/
.autocomplete ul li a:hover .autocomplete-anchor-label, 
.autocomplete ul li.focus-list a span{ /*backwards compat*/
    color: white;
} 